@charset "utf-8";
/* CSS Document */
img, object {
	max-height: 90%;
	max-width: 90%;
}

.center-wrapper {
  text-align: center;
  
}
.center-wrapper * {
  margin: 0 auto;
 text-align: center;
 
}

.ui-page .ui-header {
        background: #112233 !important;
}