@charset "utf-8";
/* CSS Document */
img, object {
	
	max-width: 100%;
	text-align: center;
	
}

.center-wrapper {
  text-align: center;
  background-color:white;
}
.center-wrapper * {
  margin: 0 auto;
 text-align: center;
 background-color:white;
 text-align: center;
    width: 300px;
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;22
}
.ui-content {background-color:#1795c7;
			
    left: 0px;
    top: 60px;
	max-height: 90%;
	max-width: 90%;
			}
center {background-color:#1795c7;
		
}
.ui-grid-a {background-color:#1795c7; }

.ui-header.ui-bar-a {
 text-align: center;
  background:#1795c7;
  border-bottom:#1795c7;
} 
.ui-page { 
background: #1795c7;
}
.ui-grid-c {background:white;}

